*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.blog_banner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.50)),url(images/9.jpg);
    background-size: cover;
    background-position: center;
}
.blog_navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor:pointer
}
.blog_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.blog_navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.blog_navbar ul i{
    color: #fff;
}
.blog_navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.blog_navbar ul li:hover::after{
    width: 100%;
}
.blog_navbar ul li a.active,
.blog_navbar ul li a:hover{
    color: #fdc93b;

}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p {
    margin:  30px auto;
    font-weight:150;
     line-height: 30px;
   }
button{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 25px;
font-weight: bold;
border: 2px solid #009688;
background: transparent;
color:black;
cursor: pointer;
position: relative;
overflow: hidden;
}
span{
    background-color: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}

/* Blog */
#blog-container {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}
#blog-container .blogs {
 width: 60%;
}
#blog-container .blogs img{
    width: 70%;
    border-radius: 25px;
   }
   #blog-container .blogs .post{
    padding-bottom: 60px;
   }
   #blog-container .blogs .post h3{
    color: black;
    padding: 15px 0 10px 0;
   }
   #blog-container .blogs .post p{
    color: #757373;
    padding-bottom: 20px;
   }
   #blog-container .blogs .post a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color:  #009688;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
   }
   #blog-container .cate {
    width: 30%;
   }
   #blog-container .cate h2{
    padding-bottom: 7px;
   }
   #blog-container .cate a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    line-height: 45px;
    
   }

   #blog-container .blogpost{
    width: 60%;
    margin: 0 auto;
   }
   #blog-container .blog .post p{
    text-align: justify;
    padding-bottom: 60px !important;
    font-weight: 700;
    text-align: center;
   }
   .flex_content{
    display: flex;
   }
   /****************************************** cource **************************************************/
   .cour_banner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.50)),url(images/c1.jpg);
    background-size: cover;
    background-position: center;
}
.cour_navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor:pointer
}
.cour_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.cour_navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.cour_navbar ul i{
    color: #fff;
}
.cour_navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.cour_navbar ul li:hover::after{
    width: 100%;
}
.cour_navbar ul li a.active,
.cour_navbar ul li a:hover{
    color: #fdc93b;

}
.cour_banner .con_navbar .con-content h1{
    color: #fff;
}
   #course {
    padding: 8vw 8vw 0 8vw;
    text-align: center ;
}
#course h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
#course h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
 #course .courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;
 }
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details{
   padding: 15px 15px 0 15px;
}


#course .courses .details i{
    color: #fdc93b;
    font-size: .9rem;
}

#course .courses .cost{
    background-color: rgb(74, 74, 136);
   color: #fff;
   line-height: 70px;
   width: 70px;
   height: 70px;
   text-align: center;
   border-radius: 50%;
   position: absolute;
   right: 15px;
   bottom: 100px;
}
/* inner cources*/
#course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}
#course-inner h3{
    padding: 35px 0 25px 0;
    color: #312938;
}
#course-inner p {
    color: #64626e;
}
#course-inner hr {
    height: 1px;
    background: rgba(236, 226, 229, 0.5);
    margin-top: 40px;
}
#course-inner .overview {
    width: 70%;
}

#course-inner .overview .course-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

#course-inner .overview .course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
 
#course-inner .overview .course-head .c-name{
    width: 70%;

}

#course-inner .overview .course-head .c-name h2{
    color: #293038;
    
}

#course-inner .overview .course-head .c-name .star{
    margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i{
    color: #fdc93b;
    font-size: 0.9rem;
}
#course-inner .overview .course-head .c-name p{
    font-size: 15px;
}
#course-inner .overview .course-head span{
    padding: 16px 22px;
    border-radius: 5px;
    color: #5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88, 56, 252, 0.1);
}
#course-inner .learn p{
    font-size: 15px;
    padding-bottom: 15px;
}

#course-inner .learn p i {
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}
#course-inner .tutor{
    display: flex;

}
#course-inner .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    
}
#course-inner .tutor h5{
    font-size: 15px;
}
#course-inner .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);

}

#course-inner .enroll h3{
    padding-bottom: 10px;
}
#course-inner .enroll p{
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}
#course-inner .enroll p i {
    color: #64626e;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
#course-inner .enroll .enroll-btn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
}
#course-inner .enroll .enroll-btn a{
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: rgb(50, 50, 136);
}



#course-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8vw 4vw;
}
#course-inner .overview{
    width: 100%;
}
#course-inner .overview .course-img{
    width: 800;
    height: 400;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
 
#course-inner .enroll{
    margin-top: 25px;
}

#course-inner .overview .course-head .c-name{
    width: 50%;
}

#course-inner .overview .course-head .c-name h2{
 font-size: 22px;
}
#course-inner .overview .course-head span{
    font-size: 22px;
   }
   #course-inner .enroll{
    width: 100%;;
   }
   /* footer */
   footer{
    background-image: linear-gradient(rgba(64, 50, 218, 0.3),rgba(15, 15, 19, 0.7) ),url(images/back1.jpg);
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
     color: #fff;
     font-weight: 600;
     padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #fff;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: rgb(247, 215, 5);
}
footer p{
    color: rgb(247, 215, 5);
}

footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #fff;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
}


footer .subscribe a.yellow{
    color: #2c2c2c;
    background-color:#fdc93b;
    transition: 0.3s ease;
    border-radius: 5px;
    padding: 14px;

}

footer .subscribe a.yellow:hover{
    color:rgb(21, 21, 100);
    background-color: blue;      
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{ 
    color: #fff;

}
footer .copyright .pro-links{
    margin-top: 0px;

}

footer .copyright .pro-links i{
    background-color: #5f7185;
    color: #fff;
}

footer .copyright .pro-links i:hover{
    background-color: #fdc93b;
    color: #2c2c2c;
}
/* About*/
.a_banner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.50)),url(images/17.jpg);
    background-size: cover;
    background-position: center;
}
.a_navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor:pointer
}
.a_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.a_navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.a_navbar ul i{
    color: #fff;
}
.a_navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.a_navbar ul li:hover::after{
    width: 100%;
}
.a_navbar ul li a.active,
.a_navbar ul li a:hover{
    color: #fdc93b;

}
.a_banner .con_navbar .con-content h1{
    color: #fff;
}

#about-home{
    background-image: linear-gradient(rgb(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7) ),url(images/back1.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#about-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    }
#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
    }
#about-container #about-img{
    width: 60%;
    padding-right: 60px;
}
#about-container #about-img img{
    width: 100%;
}
#about-container #about-text{
    width: 40%;
}
#about-container #about-text h2 {
    color: #29303b;
    padding-bottom:15px ;
}
#about-container #about-text p{
    color: #92abd2;
    font-weight: 300px;
 }
 #about-container #about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 }
 #about-container #about-text .about-fe img{
    width: 50px;
    background-size: cover;
    background-position: center;
 }
 #about-container #about-text .about-fe .fe-text{
    width: 90%;
 }
 #about-container #about-text .about-fe .fe-text h5{
font-size: 16px; 
}
#trust{
    text-align: center;
    padding:8vw;
}
#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#trust .trust-img img{
 width: 90px;
}/*features*/
#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #b0b0d8;
    text-align: center;
    border-radius:5px;

}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);

}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}
#features  h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(70, 70, 87);
}
/* contact us*/
.con_banner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.50)),url(images/4.jpeg);
    background-size: cover;
    background-position: center;
}
.con_navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor:pointer
}
.con_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.con_navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.con_navbar ul i{
    color: #fff;
}
.con_navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.con_navbar ul li:hover::after{
    width: 100%;
}
.con_navbar ul li a.active,
.con_navbar ul li a:hover{
    color: #fdc93b;

}
.con_banner .con_navbar .con-content h1{
    color: #fff;
}

.line{
    padding: 20px;
    }
    
      .contact-buttons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: #ead0ed;
      }
      
      .contact-buttons button {
        width: 27%;
        height: 20%;
        text-align: center;
        background-color: #39c3cf; 
        color: white;
        text-decoration: none;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin:  10px; 
        transition: background-color 0.3s;
      }
      
      .contact-buttons button:hover {
        background-color: #45a049; 
      }
      
      .contact-buttons button i {
        margin-right: 8px;
      }
      
    
      .contact-buttons .phone-number {
        display: block;
        font-size: 12px;
      }       
      .line{
        padding: 20px;
        }
        
          .contact-buttons {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 50px;
            background-color: #ead0ed;
          }
          
          .contact-buttons button {
            width: 27%;
            height: 20%;
            text-align: center;
            background-color: #39c3cf; 
            color: white;
            text-decoration: none;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin:  10px; 
            transition: background-color 0.3s;
          }
          
          .contact-buttons button:hover {
            background-color: #45a049; 
          }
          
          .contact-buttons button i {
            margin-right: 8px;
          }
          
        
          .contact-buttons .phone-number {
            display: block;
            font-size: 12px;
          }
          .box-wrapper{
            position: relative;
            display: table;
            width:1100px;
            margin:auto;
            margin-top:35px;
            border-radius: 30px;
        }
        .info-wrap{
            width:35%;
            height: 551px;
            padding: 40px;
            float: left;
            display: block;
            border-radius: 30px 0px 0px 30px;
            background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
            color: #fff;
        }
        .info-title{
            text-align: left;
            font-size: 28px;
            letter-spacing: 0.5px;
        }
        .info-sub-title{
            font-size: 18px;
            font-weight: 300;
            margin-top: 17px;
            letter-spacing: 0.5px;
            line-height: 26px;
        }
        .info-details {
            list-style: none;
            margin: 60px 0px;
        }
        .info-details li {
            margin-top: 25px;
            font-size: 18px;
            color: #fff;
        }
        .info-details li i {
            background: #F44770;
            padding: 12px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .info-details li a {
            color: #fff;
            text-decoration: none;
        }
        .info-details li a:hover {
            color: #F44770;
        }
        .social-icons {
            list-style: none;
            text-align: center;
            margin: 20px 0px;
        }
        .social-icons li {
            display: inline-block;
        }
        .social-icons li i {
            background: #F44770;
            color: #fff;
            padding: 15px;
            font-size: 20px;
            border-radius: 22%;
            margin: 0px 5px;
            cursor: pointer;
            transition: all .5s;
        }
        .social-icons li i:hover {
            background: #fff;
            color: #000000;
        }
        .form-wrap{
            width:65%;
            float: right;
            padding:40px 25px 35px 25px;
            border-radius: 0px 30px 30px 0px;
            background: #ecf0f3;
        }
        .form-title{
            text-align: left;
            margin-left: 23px;
            font-size: 28px;
            letter-spacing: 0.5px;
        }
        .form-fields{
            display: table;
            width: 100%;
            padding: 15px 5px 5px 5px;
        }
        .form-fields input,
        .form-fields textarea{
            border: none;
            outline:none;
            background: none;
            font-size: 18px;
            color:#555;
            padding: 20px 10px 20px 5px;
            width:100%
        }
        .form-fields textarea{
            height: 150px;
            resize: none;
        }
        .form-group{
            width: 46%;
            float: left;
            padding: 0px 30px;
            margin: 14px 12px;
            border-radius: 25px;
            box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
        }
        .form-fields .form-group:last-child {
            width: 96%;
        }
        .submit-button{
            width: 96%;
            height: 60px;
            margin: 0px 12px;
            border-radius: 30px;
            font-size: 20px;;
            font-weight: 700;
            outline: none;
            border:none;
            cursor: pointer;
            color:#fff;
            text-align: center;
            background: #F44770;
            box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
            transition: .5s;
        }
        .submit-button:hover{
            background: #31279d;
        }
        /* Responsive css */
        @media only screen and (max-width: 767px) {
            .box-wrapper{
                width: 100%;
            }
            .info-wrap,
            .form-wrap{
                width: 100%;
                height: inherit;
                float: none;  
            }
            .info-wrap{
                border-radius: 30px 30px 0px 0px;
            }
            .form-wrap{
                border-radius: 0px 0px 30px 30px;
            }
            .form-group{
                width: 100%;
                float: none;
                margin: 25px 0px;
            }
            .form-fields .form-group:last-child, 
            .submit-button{
                width: 100%;
            }
            .submit-button{
                margin: 10px 0px;
            }
           
        }