*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/c2.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor:pointer
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul i{
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    color: #fdc93b;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p {
    margin:  20px auto;
    font-weight:100;
     line-height: 25px;
   }
button{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 25px;
font-weight: bold;
border: 2px solid #009688;
background: transparent;
color: #fff;
cursor: pointer;
position: relative;
overflow: hidden;
}
span{
    background-color: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
/* cource */
#course {
    padding: 8vw 8vw 0 8vw;
    text-align: center ;
}
#course h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
#course h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
 #course .courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;
 }
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details{
   padding: 15px 15px 0 15px;
}


#course .courses .details i{
    color: #fdc93b;
    font-size: .9rem;
}

#course .courses .cost{
    background-color: rgb(74, 74, 136);
   color: #fff;
   line-height: 70px;
   width: 70px;
   height: 70px;
   text-align: center;
   border-radius: 50%;
   position: absolute;
   right: 15px;
   bottom: 100px;
}
/*features*/
#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #b0b0d8;
    text-align: center;
    border-radius:5px;

}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);

}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}
#features  h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(70, 70, 87);
}
/* registeration */
#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233,0.5)), url(images/c5.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: #fff;
}
#registration .reminder h1 {
    font-size: 2.5rem;
    font-weight: 700; 
    color: #fff;
}
#registration .reminder .time{
    display: flex;
    margin-top: 40px;

}
/* form */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: rgb(160, 160, 201);
    width: 50%;
    max-width: 700px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 6px;
}

label {
    display:block;
    margin-top: 10px;
}


input[type="text"], input[type="date"], input[type="tel"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}


.container button {
    background-color: #0074a2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*CTA*/

.line{
    padding: 20px;
    }
    
      .contact-buttons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: #c1c1d2;
      }
      
      .contact-buttons button {
        width: 27%;
        height: 20%;
        text-align: center;
        background-color: #39c3cf; 
        color: white;
        text-decoration: none;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin:  10px; 
        transition: background-color 0.3s;
      }
      
      .contact-buttons button:hover {
        background-color: #45a049; 
      }
      
      .contact-buttons button i {
        margin-right: 8px;
      }
      
    
      .contact-buttons .phone-number {
        display: block;
        font-size: 12px;
      }
/* experts */
#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .expert-box .profile{
    background: #fafafa;
    padding: 30px 10px;
}

.pro-links{
    margin-top: 10px;

}

.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3 ease;
}

.pro-links i:hover{
    background-color: rgb(21, 21, 100);
    color:#fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}

/* footer */
footer{
    background-image: linear-gradient(rgba(64, 50, 218, 0.3),rgba(15, 15, 19, 0.7) ),url(images/back1.jpg);
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
     color: #fff;
     font-weight: 600;
     padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #fff;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: rgb(247, 215, 5);
}
footer p{
    color: rgb(247, 215, 5);
}

footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #fff;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
}


footer .subscribe a.yellow{
    color: #2c2c2c;
    background-color:#fdc93b;
    transition: 0.3s ease;
    border-radius: 5px;
    padding: 14px;

}

footer .subscribe a.yellow:hover{
    color:rgb(21, 21, 100);
    background-color: blue;      
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{ 
    color: #fff;

}
footer .copyright .pro-links{
    margin-top: 0px;

}

footer .copyright .pro-links i{
    background-color: #5f7185;
    color: #fff;
}

footer .copyright .pro-links i:hover{
    background-color: #fdc93b;
    color: #2c2c2c;
}